{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1>Locations</h1>
        </div>
    </div>
    <div class="row">
        <div id="locations-map" class="col-12 col-md-8 offset-md-2">
            <img src="/media/locations-map.png" alt="locations-map">
            <button id="ldn-pin" class="map-pin" data-bs-toggle="tooltip" data-bs-placement="top" title="London"><i
                    class="fas fa-map-marker-alt"></i></button>
            <button id="man-pin" class="map-pin" data-bs-toggle="tooltip" data-bs-placement="top" title="Manchester"><i
                    class="fas fa-map-marker-alt"></i></button>
            <button id="bmgh-pin" class="map-pin" data-bs-toggle="tooltip" data-bs-placement="top" title="Birmingham"><i
                    class="fas fa-map-marker-alt"></i></button>
            <button id="bstl-pin" class="map-pin" data-bs-toggle="tooltip" data-bs-placement="top" title="Bristol"><i
                    class="fas fa-map-marker-alt"></i></button>
            <button id="ext-pin" class="map-pin" data-bs-toggle="tooltip" data-bs-placement="top" title="Exeter"><i
                    class="fas fa-map-marker-alt"></i></button>
            <button id="ncl-pin" class="map-pin" data-bs-toggle="tooltip" data-bs-placement="top" title="Newcastle"><i
                    class="fas fa-map-marker-alt"></i></button>
            <button id="lds-pin" class="map-pin" data-bs-toggle="tooltip" data-bs-placement="top" title="Leeds"><i
                    class="fas fa-map-marker-alt"></i></button>
            <button id="cmb-pin" class="map-pin" data-bs-toggle="tooltip" data-bs-placement="top" title="Cambridge"><i
                    class="fas fa-map-marker-alt"></i></button>
        </div>
    </div>
    <div class="row">
        <div id="plan-select-contents" class="col-12 col-md-8 offset-md-2 text-center">
            <p id="locations-description">Access the Workbench nearest to you on our standard plan. Access any Workbench
                across the country on our flexible plan.</p>
            <a class="button" href="{% url 'all_plans' %}">Select Plan</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div id="google-maps"></div>
            <div>
                {% for location in locations %}
                <p id="{{ location }}">{lat: {{ location.lat }}, lng: {{ location.lng }}}</p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block postloadjs %}

<script>
    // Enables tooltips for all page elements
    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new bootstrap.Tooltip(tooltipTriggerEl)
    })
</script>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById("google-maps"), {
            zoom: 5,
            center: {
                lat: 55,
                lng: -3.435973,
            }
        });

        var labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

        var coords = document.getElementById("Exeter").innerText;
        var locationLat = parseFloat(coords.slice(5, 14))
        var locationLng = parseFloat(coords.slice(21, 31))

        var locations = [
            { lat: locationLat, lng: locationLng }, 
            { lat: 52.678, lng: -0.678 }
    ];

        var markers = locations.map(function (location, i) {
            return new google.maps.Marker({
                position: location,
                label: labels[i % labels.length]
            });
        });

        var markerCluster = new MarkerClusterer(map, markers, {
            imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
        });
    }
</script>

<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js">
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA-QJ9GOPVT84-nEe9NzEm_uAmmPTj-DQ0&callback=initMap"></script>


{% endblock %}