{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1>Locations</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-8 offset-md-2">
            <div id="google-maps"></div>
        </div>
    </div>
    <div class="row">
        <div id="plan-select-contents" class="col-12 col-md-8 offset-md-2 text-center">
            <p id="locations-description">Access the Workbench nearest to you on our standard plan. Access any Workbench
                across the country on our flexible plan.
            </p>
            <a class="button" href="{% url 'all_plans' %}">Select Plan</a>
        </div>
    </div>
</div>
{% endblock %}
{% block postloadjs %}
<script>
// Initialise map
function initMap() {
    var map = new google.maps.Map(document.getElementById("google-maps"), {
        zoom: 6,
        center: {
            lat: 53.5,
            lng: -3.435973,
        }
    });

    var labels = "ABCDEFGHIJKLMNOPQRSTUVWXYZ";

    // Receive JSON string from view and convert to object
    var jsonObject = JSON.parse('{{ coords | escapejs }}');

    // Loop through js object and create a list of lat/lng values
    var locations = [];
    for (let x in jsonObject) {
        locations.push(jsonObject[x]);
    }

    var markers = locations.map(function(location, i) {
        return new google.maps.Marker({
            position: location,
            label: labels[i % labels.length]
        });
    });

    var markerCluster = new MarkerClusterer(map, markers, {
        imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'
    });
}
</script>
<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDLgomc-q9c2W7Jrnp31nQvqmc9wBJJ7bc&callback=initMap"></script>
<script src="{% static 'locations/js/googleMaps.js' %}"></script>
{% endblock %}
