{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="landing-page-section" class="container">
    <div class="row d-none d-md-flex">
        <div class="col-12 col-md-5 my-auto">
            <h1 id="landing-page-heading">
                Flexible workspaces for remote professionals<span class="red-dot">.</span>
            </h1>
        </div>
        <div id="landing-page-image" class="col-12 col-md-7 my-auto">
            <img src="/media/homepage-image.jpg" alt="workbench-venue">
        </div>
    </div>

    <!--Mobile display only -->
    <div class="row d-md-none">
        <div id="mobile-landing-section" class="col-12 my-auto">
            <h1 id="landing-page-heading">
                Flexible workspaces for remote professionals<span class="red-dot">.</span>
            </h1>
        </div>
    </div>
</div>
<div id="homepage-plans-container" class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2>Plans</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <div class="homepage-plan">
                <p>Standard</p>
                <ul>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>40 hours/mo
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>1 meeting room credit
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Free Wifi
                    </li>
                </ul>
                <button class="learn-more-plans-homepage">
                    Learn more
                </button>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="homepage-plan">
                <p>Unlimited</p>
                <ul>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>40 hours/mo
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>1 meeting room credit
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Free Wifi
                    </li>
                </ul>
                <button class="learn-more-plans-homepage">
                    Learn more
                </button>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="homepage-plan">
                <p>One-Off</p>
                <ul>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>40 hours/mo
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>1 meeting room credit
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Free Wifi
                    </li>
                </ul>
                <button class="learn-more-plans-homepage">
                    Learn more
                </button>
            </div>
        </div>
    </div>
</div>
<div id="homepage-locations-container" class="container">
    <div class="row text-center">
        <div class="col-12">
            <div class="row text-left">
                <div class="col-1 offset-1 my-auto">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col-4 my-auto">
                    <h4>Find your nearest workspace</h4>
                    <p>Access hundreds of venues across the UK</p>
                    <a href="" class="learn-more-locations-homepage">Learn More</a>
                </div>
                
            </div>

        </div>
    </div>
</div>
<div id="homepage-about-container" class="container">
    <div class="row about-section">
        <div class="col-12 col-md-6 my-auto text-center homepage-about-text">
            <p>Choose you plan based on your access needs.</p>
        </div>
        <div class="col-12 col-md-6">
            <img class="homepage-about-image" src="/media/keyboard-and-coffee.jpg" alt="">
        </div>
    </div>
    <div class="row about-section">
        <div class="col-12 col-md-6">
            <img id="left-side-image" class="homepage-about-image"  src="/media/desktop.jpg" alt="">
        </div>
        <div class="col-12 col-md-6 my-auto text-center homepage-about-text">
            <p>Book a slot ahead of time at your required location.</p>
        </div>
    </div>
    <div class="row about-section">
        <div class="col-12 col-md-6 my-auto text-center homepage-about-text">
            <p>Extras such as private meetings can be scheduled too.</p>
        </div>
        <div class="col-12 col-md-6">
            <img class="homepage-about-image" src="/media/window-desk.jpg" alt="">
        </div>
    </div>
</div>
{% endblock %}