{% extends "base.html" %}
{% load static %}

{% block content %}
    <div id="landing-page-section" class="container">
        <div class="row d-none d-md-flex">
            <div class="col-12 col-md-5 my-auto">
                <h1 id="landing-page-heading">
                    Flexible workspaces for remote professionals<span class="red-dot">.</span>
                </h1>
            </div>
            <div id="landing-page-image" class="col-12 col-md-7 my-auto">
                <img src="/media/homepage-image.jpg" alt="workbench-venue">
            </div>
        </div>

        <!--Mobile display only -->
        <div class="row d-md-none">
            <div id="mobile-landing-section" class="col-12 my-auto">
                <h1 id="landing-page-heading">
                    Flexible workspaces for remote professionals<span class="red-dot">.</span>
                </h1>
            </div>
        </div>
    </div>
    <div id="homepage-plans-container" class="container">
        <div class="row">
            <div class="col-12 text-center">
                <h2>Plans</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-4">
                <div class="homepage-plan">plan</div>
            </div>
            <div class="col-12 col-md-4">
                <div class="homepage-plan">plan</div>
            </div>
            <div class="col-12 col-md-4">
                <div class="homepage-plan">plan</div>
            </div>
        </div>
    </div>
{% endblock %}