{% extends "base.html" %}
{% load static %}
{% block content %}
<div id="landing-page-section" class="container">
    <div class="row d-none d-md-flex">
        <div class="col-12 col-md-5 my-auto">
            <h1 id="landing-page-heading">
                Flexible workspaces for remote professionals<span class="red-dot">.</span>
            </h1>
        </div>
        <div id="landing-page-image" class="col-12 col-md-7 my-auto">
            <img src="https://daisybutler-workbench.s3.eu-west-2.amazonaws.com/media/homepage-image.jpg" alt="workbench-venue">
        </div>
    </div>
    <!--Mobile display only -->
    <div class="row d-md-none">
        <div id="mobile-landing-section" class="col-12 my-auto">
            <h1 id="landing-page-heading">
                Flexible workspaces for remote professionals<span class="red-dot">.</span>
            </h1>
        </div>
    </div>
</div>
<!---Plans--->
<div id="homepage-plans-container" class="container">
    <div class="row text-center">
        <div class="col-12">
            <h2>Plans</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            <div class="homepage-plan">
                <p>Standard</p>
                <ul>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>50 hours/mo
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Limited meeting room access
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Free Wifi
                    </li>
                </ul>
                <a href="{% url 'individual_plan' 'standard-plan' %}" class="learn-more-plans-homepage">
                Learn more
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="homepage-plan">
                <p>Unlimited</p>
                <ul>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Unlimited hours
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Meeting room access
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Free Wifi
                    </li>
                </ul>
                <a href="{% url 'individual_plan' 'unlimited-plan' %}" class="learn-more-plans-homepage">
                Learn more
                </a>
            </div>
        </div>
        <div class="col-12 col-md-4 text-center">
            <div class="homepage-plan">
                <p>One-Off</p>
                <ul>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>1 hour access
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>No commitment
                    </li>
                    <li class="plan-features-homepage">
                        <i class="fas fa-check"></i>Free Wifi
                    </li>
                </ul>
                <a href="{% url 'individual_plan' 'one-off-plan' %}" class="learn-more-plans-homepage">
                Learn more
                </a>
            </div>
        </div>
    </div>
</div>
<!---Locations--->
<div id="homepage-locations-container" class="container">
    <div class="row text-center">
        <div class="col-12 col-lg-9">
            <div class="row text-left">
                <div class="col-1 offset-1 my-auto">
                    <i class="fas fa-map-marker-alt"></i>
                </div>
                <div class="col-7 col-md-4 offset-2 offset-md-1 my-auto">
                    <h4>Find your nearest workspace</h4>
                    <p>Access hundreds of venues across the UK</p>
                    <a href="{% url 'locations' %}" class="learn-more-locations-homepage">Learn More</a>
                </div>
            </div>
        </div>
        <div id="new-locations-badge" class="d-none d-lg-block col-lg-2 my-auto">
            NEW LOCATIONS <br> now available
        </div>
    </div>
</div>
<!---About--->
<div id="homepage-about-container" class="container">
    <div class="row about-section">
        <div class="col-12 col-md-6 my-auto text-center homepage-about-text">
            <p>Choose you plan based on your access needs.</p>
        </div>
        <div class="col-12 col-md-6">
            <img class="homepage-about-image" src="https://daisybutler-workbench.s3.eu-west-2.amazonaws.com/media/keyboard-and-coffee.jpg" alt="coffee-on-desk">
        </div>
    </div>
    <div id="second-about-section" class="row about-section">
        <div class="col-12 col-md-6">
            <img id="left-side-image" class="homepage-about-image" src="https://daisybutler-workbench.s3.eu-west-2.amazonaws.com/media/desktop.jpg" alt="desktop-workspace">
        </div>
        <div class="col-12 col-md-6 my-auto text-center homepage-about-text">
            <p>Book a slot ahead of time at your required location.</p>
        </div>
    </div>
    <div class="row about-section">
        <div class="col-12 col-md-6 my-auto text-center homepage-about-text">
            <p>Extras such as private meetings can be scheduled too.</p>
        </div>
        <div class="col-12 col-md-6">
            <img class="homepage-about-image" src="https://daisybutler-workbench.s3.eu-west-2.amazonaws.com/media/window-desk.jpg" alt="laptop-by-window-seat">
        </div>
    </div>
    <div class="row">
        <div id="plans-button-homepage" class="col-12 text-center">
            <a href="{% url 'all_plans' %}" class="button btn-lg">Find A Plan</a>
        </div>
    </div>
</div>
{% endblock %}
