{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="login-container" class="container">
    <div class="row">
        <div id="login-box" class="col-12 col-md-6 offset-md-3 text-center">
            <h1>Login</h1>
            <form action="">
                <div class="mb-3 text-left">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username">
                </div>
                <div class="mb-3 text-left">
                    <label for="password" class="form-label">Password</label>
                    <input type="text" class="form-control" id="password">
                </div>
                <div id="login-button" class="mb-3">
                    <a href="" class="button">Login</a>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}