{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div id="profile-plan-details"class="col-12 col-md-6 text-center">
            <h3>Your Plan</h3>
            <div class="row">
                <div class="col-12">
                    {% if item.plan_type == 'Subscription' %}
                    <p>{{ item.plan_friendly_name }}</p>
                    {% else %}
                    <p>{{ item.plan_friendly_name }} Credit <small>(60 min)</small></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if item.plan_type == 'Subscription' %}
                    <p> £{{ item.price }}/pm</p>
                    <i class="fas fa-credit-card"></i><br>
                    <small>Active from: {{ item.date }}</small><br>
                    <small>Valid for: 30 days </small>
                    {% else %}
                    <p>£{{ item.price }}</p>
                    <i class="fas fa-credit-card"></i><br>
                    <small>Payment taken: {{ item.date }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div id="renew_pass" class="col-12 text-center">
                    <a href="{% url 'renew_pass' item.plan_name %}" class="button">Renew Pass</a>
                </div>
            </div>
        </div>
        <div id="profile-image" class="d-none d-md-block col-md-5">
        </div>
    </div>
    <div id="profile-personal-info" class="row">
        <div id="account-details"class="col-12 col-md-6">
            <h3>Account Details</h3>
            <p class="readonly-labels">Username</p>
            <p class="readonly-personal-info" title="readonly">{{ profile }}</p>
            <div id="profile-edit-buttons">
                <a id="change-password-button" class="button" href="{% url 'account_change_password' %}">Change password</a>
                <!-- Button trigger warning modal -->
                <button type="button" class="button" data-bs-toggle="modal" data-bs-target="#deleteModal">
                Delete Profile
                </button>
                <!-- Delete profile warning modal -->
                <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Profile</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <p>You are about to delete your profile. Your current pass will be valid until the end of your
                                    payment period but you will not be able to renew or update your details.<br><br>
                                    Are you sure you want to delete your profile?
                                </p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <a class="button" href="{% url 'account_delete' profile %}">Delete Profile</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h3>How To Access</h3>
            <p>On your first visit, collect your membership card from reception. Your card will be valid for the term stated in 'Your Plan' details above.</p>
            <p><strong><i class="fas fa-question-circle"></i> Got a query? Get in touch <a href="{% url 'contact' %}">here.</a></strong></p>
        </div>
        <div id="billing-information" class="col-12 col-md-6">
            <h3>Billing Information</h3>
            <form action="{% url 'profile' %}" method="POST" id="update-user-info-form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="button">Update Information</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}