{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Profile</h1>
        </div>
    </div>
    <div class="row">
        <div id="profile-plan-details"class="col-12 col-md-6 text-center">
            <h3>Your Plan</h3>
            <div class="row">
                <div class="col-12">
                    {% if item.plan_type == 'Subscription' %}
                        <p>{{ item.plan_friendly_name }} ({{ item.plan_type }})</p>
                    {% else %}
                        <p>{{ item.plan_friendly_name }} Credit <small>(60 min)</small></p>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    {% if item.plan_type == 'Subscription' %}
                        <p>Price: £{{ item.price }}/pm</p>
                        <small>Last payment: {{ item.date }}</small>
                        <small>Next payment: </small>
                    {% else %}
                        <p>Price: £{{ item.price }}</p>
                        <small>Payment taken: {{ item.date }}</small>
                    {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <button class="button">Cancel Subscription</button>
                </div>
            </div>
        </div>
        <div id="plan-history"class="col-12 col-md-6 text-center">
            <h3>Plan History</h3>
            {% for order in orders %}
                <a href="#">{{ order }}</a>
            {% endfor %}
        </div>
    </div>
    <div id="personal-information" class="row">
        <div class="col-12">
            <h3>Personal Information</h3>
            <form action="{% url 'profile' %}" method="POST" id="update-user-info-form">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <p class="readonly-labels">Username</p> 
                        <p class="readonly-personal-info" title="readonly">{{ profile }}</p>
                    </div>
                    <div class="col-12 col-md-6">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button class="button">Update Information</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

{% endblock %}