{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Checkout Successful</h1>
            <p>Your payment has been successfully processed. You can manage your plan on your profile.</p>
            <p>Your membership ID is: {{ member_order.order_id }}</p>
            <a href="" class="button">Visit Profile</a>
        </div>
        <div id="checkout-complete-summary-box" class="col-12 col-md-6">
            <table>
                <tr>
                    <p><strong>Summary</strong></p>
                </tr>
                <tr>
                    <p>Plan name: {{ member_order.plan_friendly_name }}</p>
                </tr>
                <tr>
                    <p>Plan type: {{ member_order.plan_type }}</p>
                </tr>
                <tr>
                    {% if member_order.plan_type == 'subscription' %}
                    <p>Price: {{ member_order.price }} per month</p>
                    {% else %}
                    <p>Price: £{{ member_order.price }}</p>
                    {% endif %}
                </tr>
                <tr>
                    <p>Location: {{ member_order.location }}</p>
                </tr>
            </table>
            

            </div>
          
          
        </div>
    </div>
</div>
{% endblock %}