{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="checkout-order-container" class="container">

    <!--- Order Details --->
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>Order Details</h1>
        </div>
    </div>
    <form id="order details" action="">
        <div class="row">
            <div class="col-12 col-md-8">
                <hr>
                <div class="row">
                    <div class="col-12">
                        <input class="form-control-lg" type="text" placeholder="{{ order.friendly_name }}" aria-label="{{ order.friendly_name }}" readonly>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" placeholder="Starting: [date]" aria-label="Starting date" readonly>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" placeholder="{{ order.price }} incl. VAT" aria-label="{{ order.price }}" readonly>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <textarea class="form-control" type="text" placeholder="Includes: {{ order.short_description }}" aria-label="Order description" rows="10" readonly></textarea>
                    </div>
                    <div class="col-6">
                        <label for="qty-dropdown">Qty:</label>
                        <select id="qty-dropdown" class="form-select" aria-label="qty">
                            <option selected>1</option>
                            <option value="1">2</option>
                            <option value="2">3</option>
                            <option value="3">4</option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
    </form>

    <!--- Order Summary Box --->
    <div id="order-summary-box" class="col-12 col-md-4">
        <h3>Order Summary</h3>
        <div class="row">
            <div class="col-6">
                <p>1 x {{ order.name }}</p>
            </div>
            <div class="col-6">
                <p>£{{ order.price }}/mo</p>
            </div>
            <div class="col-12">
                <hr>
                <p>Your card will be charge £{{ order.price }} today and subsequently each month the same amount. You
                    can
                    cancel at any time.</p>
                <hr>
            </div>
            <div class="col-12 text-center">
                <a class="button" href="">Next</a>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}