{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">

    <!--- Order Details --->
    <div class="row">
        <div class="col-12 col-md-8">
            <h1>Order Details</h1>
        </div>
    </div>
    <div id="order details" class="row">
        <div class="col-12 col-md-8">
            <hr>
            <div class="row">
                <div class="col-12">
                    <h3>{{ order.friendly_name }}</h3>
                </div>
                <div class="col-6">
                    <p>Starting: [date]</p>
                </div>
                <div class="col-6">
                    <p>£{{ order.price }} incl. VAT</p>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <p>Includes: {{ order.short_description }}
                    </p>
                </div>
                <div class="col-6">
                    <label for="qty-dropdown">Qty:</label>
                    <select id="qty-dropdown" class="form-select" aria-label="qty">
                        <option selected>1</option>
                        <option value="1">2</option>
                        <option value="2">3</option>
                        <option value="3">4</option>
                    </select>
                </div>
            </div>
            <hr>
        </div>

        <!--- Order Summary Box --->
        <div id="order-summary-box" class="col-12 col-md-4">
            <h3>Order Summary</h3>
            <div class="row">
                <div class="col-6">
                    <p>1 x {{ order.name }}</p>
                </div>
                <div class="col-6">
                    <p>£{{ order.price }}/mo</p>
                </div>
                <div class="col-12">
                    <hr>
                    <p>Your card will be charge £{{ order.price }} today and subsequently each month the same amount. You can
                        cancel at any time.</p>
                    <hr>
                </div>
                <div class="col-12 text-center">
                    <a class="button" href="">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}