html {
    height: 100%;
}

body {
    /* background: url('/media/homepage-image.jpg') no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);*/
    color: #313131;
    font-family: 'Open Sans'; 
    margin-top: 60px;
}

h1, h2, h3, h4 {
    font-weight: 600;
}

p, a {
    font-weight: 400;
}

/* -------------------------------------------------- NAVBAR */

#header-login-button {
    background-color: #D91F44;
    padding: 10px 15px 10px 15px;
    border: transparent;
    border-radius: 5px;
}

#header-login-button a {
    color: #fff;
}

#header-login-button a:hover {
    text-decoration: none;
}

/* --------------------------------------------------- HOME */

#landing-page-section {
    padding-top: 50px;
}

#landing-page-heading {
    padding-top: 40px;
    font-size: 50px;
}

#landing-page-image img {
    box-shadow: #EEECE7 40px 40px;
    max-width: 100%;
    max-height: 100%;
}

.red-dot {
    color: #D91F44;
}

#mobile-landing-section {
    background: url('/media/homepage-image-mobile.jpg') no-repeat fixed;
    padding: 50px;
}

#homepage-plans-container {
    margin-top: 80px;
}

#homepage-plans-container h2 {
    color: #D91F44;
    font-size: 50px;
}

.homepage-plan {
    background-color: #F7F7F7;
    padding: 20px;
    margin-bottom: 30px;
    font-size: 20px;
}

.plan-features-homepage {
    text-align: left;
    list-style: none;
    padding: 10px 0 10px 0;
}

.plan-features-homepage i {
    margin-right: 5px;
}

.homepage-plan ul {
    padding-left: 0;
}

.learn-more-plans-homepage {
    background-color: #D91F44;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    margin-top: 40px;
}

#homepage-locations-container {
    background-color: #F7F7F7;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 50px;
}

#homepage-locations-container .fa-map-marker-alt {
    font-size: 80px;
}

.learn-more-locations-homepage {
    background-color: #D91F44;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    margin-top: 40px;
}

.learn-more-locations-homepage:hover {
    text-decoration: none;
    color: #fff;
}


#new-locations-badge {
    background-color: #D91F44;
    color: #fff;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 50%;

}

.homepage-about-image {
    max-width: 100%;
    max-height: 100%;
    box-shadow: #EEECE7 35px 35px;
}

.about-section {
    margin-bottom: 60px;
}

#left-side-image {
    box-shadow: #EEECE7 -35px 35px;
}

.homepage-about-text {
    padding-top: 20px;
    padding-bottom: 20px;
}

.homepage-about-text p {
    font-size: 35px;
}

/* --------------------------------------------------- PLANS */

#subscription-plans {
    background: url('/media/window-desk.jpg') center center;
    min-height: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

#oneoff-plans {
    background: url('/media/desktop.jpg') center center;
    min-height: 400px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.btn-plan {
    color: #fff;
    background-color: #D91F44;
}

.btn-plan:hover {
    text-decoration: none;
    color: #fff;
}

/* --------------------------------------------------- FOOTER */

footer {
    height: 150px;
    color: #fff;
}

footer h4 {
    padding-top: 40px;
}


/* --------------------------------------------------- MEDIA QUERIES */

@media screen and (max-width: 576px) {
  
}


@media screen and (max-width: 768px) {
    .homepage-plan {
        font-size: 30px;
    }
     #second-about-section {
        display: flex;
        flex-wrap: wrap-reverse;
    }
    #subscription-plans .card {
       margin: 20px;
   }
   #oneoff-plans .card {
       margin: 20px;
   }
}

@media screen and (min-width: 768px){
    #landing-page-heading {
        font-size: 40px;
    }
    .homepage-plan {
        border-radius: 40px 0 40px 0;
    }
}

@media screen and (min-width: 992px){
    #landing-page-heading {
        font-size: 50px;
    }
}
