{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Oops...</h1>
            <p>We couldn't find the page you were looking for. The page you are looking for may have been moved or deleted.<br>
            You can return to the homepage by clicking <a href="{% url 'home' %}">here.</a></p>
        </div>
        <div id="404-page-image" class="col-12">
            <img src="https://daisybutler-workbench.s3.eu-west-2.amazonaws.com/media/pot-and-cup.jpg" alt="404-page">
        </div>
    </div>
</div>
{% endblock %}