{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="plans-container" class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1>{{ plan.friendly_name }}</h1>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-12 individual-plan-image">
            <img src="/media/window-desk.jpg" alt="window-desk">
        </div>
    </div>
    <div class="row description-container">
        <div class="col-12">
            <p>{{ plan.long_description }}</p>
        </div>
    </div>
    <div class="row description-container">
        <div class="col-7 col-sm-9 col-xl-10">
            <a href="{% url 'all_plans' %}" class="return-button"><i class="fas fa-chevron-left"></i>All Plans</a>
        </div>
        <div class="col-4 col-sm-2 col-xl-1">
            <a href="#" class="btn-lg proceed-button">Continue</a>
        </div>

    </div>
</div>
{% endblock %}