{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="plans-container" class="container">
    <div class="row text-center">
        <div class="col-12">
            <h1>{{ plan.friendly_name }}</h1>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col-12 individual-plan-image text-center">
            <img src="/media/window-desk.jpg" alt="window-desk">
        </div>
    </div>
    <div id="plan-description-contents" class="row description-container">
        <div class="col-12">
            <p id="individual-long-description">{{ plan.long_description }}</p>
        </div>
        <div id="plan-amenities" class="col-12">
            <p><i class="fas fa-hourglass-half amenities-icon"></i> {{ plan.hours_incl }}</p>
            <p><i class="fas fa-clock amenities-icon"></i>  {{ plan.access_times }}</p>
            {% if plan.wifi == True %}
                <p><i class="fas fa-wifi amenities-icon"></i>Super-fast wifi</p>
            {% endif %}
            {% if plan.disabled_access == True %}
                <p><i class="fas fa-wheelchair amenities-icon"></i> Disabled access</p>
            {% endif %}
            {% if plan.extra_info %}
                <br>
                <p><i class="fas fa-star amenities-icon"></i>{{ plan.extra_info }}</p>
            {% endif %}
        </div>
    </div>
    <div class="row description-container">
        <div class="col-7 col-sm-9 col-xl-10">
            <a href="{% url 'all_plans' %}" class="return-button"><i class="fas fa-chevron-left"></i>All Plans</a>
        </div>
        <div class="col-4 col-sm-2 col-xl-1">
            <a href="{% url 'checkout_order' plan.name %}" class="btn-lg proceed-button">Continue</a>
        </div>
    </div>
</div>
{% endblock %}