{% extends "base.html" %}
{% load static %}

{% block content %}

<div id="plans-container" class="container">
    <div class="row text center">
        <div class="col-12">
            <h1>Plans</h1>
        </div>
    </div>

    <!---Subscription Plans--->
    <div id="subscription-plans-container" class="row">
        <div class="col-12 col-lg-4">
            <h3>Subscriptions</h3>
            <p>Access workspaces each month on a plan which suits your needs.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            card
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            card
        </div>
    </div>

    <!---One-off plans--->
    <div id="oneoff-plans-container" class="row">
        <div class="col-12 col-lg-4">
            <h3>One-Off</h3>
            <p>Access an office space or meeting room for a specific event.</p>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            card
        </div>
        <div class="col-12 col-md-6 col-lg-4">
            card
        </div>
    </div>
</div>

{% endblock %}
